# Node modules
node_modules/
build/
.env

# Environment files
.env
.env.local

# Logs
logs/
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db
package-lock.json


